@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    color: #cbcbcb;
    background: black;
}

.button {
  position: relative;
  display: inline-block;
  /* color: white; */
  /* background-color: transparent; */
  border: 1px solid #1e40af;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
}

  
.button::before {
  content: '';
  position: absolute;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  background-color: #1e40af;
  z-index: -1;
  transition: right 200ms ease-in-out;
}

.button:hover::before {
  right: 0;
}
